apiVersion: v1
kind: Pod
metadata:
  name: scala-rabbitmq-test
  labels:
    app: scala-rabbitmq-test
spec:
  containers:
  - name: scala-rabbitmq-test
    image: {{ docker_scala_rabbitmq_test }}
    env:
      - name: RABBITMQ_HOST
        value: rabbitmq-svc
